#wrapper{
	width:100%;
	margin:0;
	background-color:lightgrey;
}
#head{
	text-align:center;
}

#menu{
	 margin: 0 auto;
	 position:relative;
     background-color: black;
     width: 67%;
}
#menu ul{
    position:relative;
   }
#menu li{
	list-style: none;
	display:inline-block;
	border:3px solid red;
    width: 95px;
	margin:5px 10px;
	text-align: center;
	box-shadow: 2px 2px 5px #999;
}
a{
    font-weight:bold;
}
.actif:link {
    color:black;
    text-decoration: none;
    display:inline-block;
    width: 95px;
    background-color: white;
}
.non_actif:link{
	color:white;
	text-decoration: none;
    display:inline-block;
    width: 95px;
}
.actif:visited{
    color:black;
}
.non_actif:visited{
	color:white;
}
.non_actif:hover{
	color:black;
    background-color: white;
    }
.actif:active, .non_actif:active{
	color:red;
}
#main{
    background-color: black;
    width:67%;
    position:relative;
    left:230px;
    border:1px solid black;
}

p
{
 color: #ffffff;
}
#actualite{
	border:3px solid white;
	width:252px;
	position:relative;
	left:680px;
	bottom:408px;
}

#formulaire{
    width:98%;
    padding:5px;
    margin:5px;

}

#address{
    display:inline-block;
    border:1px solid white;
    width:96%;
    padding:5px;
    left:4px;
    position:relative;
    margin:8px;


}
#address p{
    display:inline-block;
    margin-left:80px;
    margin-top:110px;
}
#address img{
    float:right;
    padding-right:25px;
    padding-bottom: 25px;
}
label{
    color:white;
    font-weight: bold;
    width:100px;

}
legend{
    font-size: large;
    font-weight: bold;
    color:white;

}
#map{
    width:400px;
    height:300px;
    position: relative;
    display: inline-block;
}
#footer{
    background-color: black;
    width:67%;
    position:relative;
    left:230px;
}
h2{
    color: white;
    text-align: center;


}
h4{
    color: white;
    text-align: left;
    padding-left:45px;
}

table > thead > tr > th
{
    background-color: red;
}

td,th{
    border: 1px solid black;
}
 table
 {
     border-spacing:0;
     border-collapse:collapse;
     position: relative;
     left: 150px;
     top: 50px;
     text-align: center;
     background-color: #ffffff;
     color: black;
 }

#wrapper-evenement #main img{
    width: 300px;
    /*height: ;*/

}

.memo
{
    width: 400px;
    height: 300px;
}
#text{
    margin:20px;
    border:1px solid white;

}

.marge{
    padding-right: 25px;
    padding-left: 25px;
    text-align: left;
    text:justify;
}

.combat{
    text-align: center;
}