body{
    font-family: arial, times new roman, georgia, serif;
    color: #ffffff;
}

#wrapper{
    background-color:lightgrey;
    margin: 0 auto;
}
/*div qui contents tout*/

/*head*/
#head{
	text-align:center;
}

#head img{
    display: block;
    width: 60.5%;
    margin: 0 auto;
}
/*menu*/
#menu{
	 margin: 0 auto;
     margin-top: -20px ;
	 position:relative;
     background-color: black;
     width: 60.5%;
}
/*Positione le menu*/
#menu ul{
    position:relative;
    text-align: center;
   }
/*Menu vertical et decorations pour le bottoms*/
#menu li{
	list-style: none;
	display:inline-block;
	border:3px solid red;
    width: 95px;
	margin:5px 10px;
	text-align: center;
	box-shadow: 2px 2px 5px #999;
}
/*fait plus grand la lettre sur le link*/
#menu a{
    font-weight:bold;
}

/*colours et conditions quand le link a etait visite, on est sur autre section*/
#menu a:link, #menu a:visited, #menu a:active {
    color : white;
    text-decoration: none;
    display:inline-block;
    width: 95px;
}

/*le effect quand on approxime la sourire*/
#menu a:hover {
    color:black;
    background-color: white;
}

#menu a:active {
    color:red;
}

/*colours et conditions quand le link est actif, on est sur la section selectione*/
#menu  a.actif {
    color:black;
    text-decoration: none;
    display:inline-block;
    width: 95px;
    background-color: white;
}
/*colours et conditions quand le link est inactif, on est sur autre section*/

/*colours et conditions quand le link a etait visite, on est sur la section selectione*/
.actif:visited{
    color:black;
}


/*main*/
/*div qui contents le contenu de chaque section*/
#main{
    background-color: black;
    width:60.5%;
    position:relative;
    margin:0 auto;
    margin-top: -16px;
    padding-top: 5px;
    padding-bottom: 20px;
    min-height: 550px;
}

#main_index{
background-color: black;
width:60.5%;
position:relative;
margin:0 auto;
margin-top: -16px;
padding-top: 5px;
min-height:550px;
}


#gallerycss2{
position:relative;
width:560px;
display:inline-block;

}
/*color pour les paragraphes*/
p
{
 color: #ffffff;
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
}
/*div a cote la gallery pour visualiser des activites prochaines*/
#actualite{
	border:2px solid white;
	/*width:252px;*/
    width:25%;
    height:400px;
    float:right;
    overflow-x: hidden;
    padding-left:10px;
    padding-right:10px;
    margin-top:20px;
    margin-right:10px;
}
h3{
    color:white;
}
/*div qui content le formulaire de contact*/
/* pour le colour et le grandeur du labels du formulaire*/
/* On met le float left sur les éléments du formulaire */

fieldset{
    margin:0 120px;
}

fieldset:last-of-type{
    margin-top: 25px;
}

#float label, #formulaire span,#float select, #float input, #formulaire textarea, #sex, #commente, #boutton {
    float: left;
}

#float label, #sex, #commente, #boutton {
    clear: left;
    color:white;
    text-align: right;
    width: 110px;
    font-weight: bold;
    margin-right: 10px;
}

#sex, #formulaire label, #formulaire input, #formulaire select, #formulaire textarea{
    margin-top: 10px;
}

#formulaire span{
    margin-top: 3px;

}

#boutton{
    clear: left;
    margin-left: 120px;
    color: blue;
    text-align: center;
    font-weight: bold ;
    font-size: 95%;
    }

textarea{
    color: blue;
    font-style: italic;
}
p.address_text{
    font-style: italic;
    position:relative;
    left:100px;
    top:30px
}

select{
    color: black;
}
/* pour le colour et le grandeur du labels du formulaire*/
label{
    color:white;
    font-weight: bold;
    width:100px;

}
/* pour le colour et le grandeur du legend du formulaire*/
legend{
    font-size: 120%;
    font-weight: bold;
    color:yellow;

}
/* pour la position et le grandeur de la image dans le div address*/
#map{
    width:400px;
    height:300px;
    position: relative;
    right: 5px;
    display: inline-block;
    float:right;
    border: 4px solid lawngreen;
}
/* div qui contents l'address et le facebook*/


h2{
    color: white;
    text-align: center;


}
h4{
    color: white;
    text-align: left;
    padding-left:45px;
}

#evenement {
    margin: 0 auto;
    text-align: center;
}

#event, #main ul{
    display: inline-block;
    text-align: left;
    width: 300px;
    margin-top: 30px;
    vertical-align: top;
}

#main ul li {
    margin-bottom: 8px;
}

#event img {
    width: 300px;
    margin-left: 40px;
}

.memo
{
    width: 400px;
    height: 300px;
}
#text{
    margin:20px;
    border:1px solid white;

}
#text h2{

    text-align: left;
    padding-left: 25px;
}

#cours_sensei {
    text-align: center;
    border-top: 1px solid #ffffff;
    width:800px;
    margin:0 auto;
    margin-top: 20px;
}

#cours, #sensei {
    width:390px;
    display:inline-block;
    margin-top:10px;
    vertical-align: top;
}

#his{
    padding-right: 25px;
    padding-left: 25px;
    text-align:justify;
    overflow-x: hidden;
}

/*class pour les textes*/
.marge{
    padding-right: 25px;
    padding-left: 25px;
    text-align:justify;
}


.combat{
    text-align: center;
}



.spacer{
    clear: both;
}


/*voici nos tables*/

#ho
{
    border-spacing:0;
    border-collapse:collapse;
    position: relative;
    top: 50px;
    text-align: center;
    background-color: #ffebd6;
    color: black;
    margin: 0 auto;
}

#ta{
    border-spacing:0;
    border-collapse:collapse;
    position: relative;
    padding-top: 500px;
    padding-bottom: 500px;
    background-color: #ffebd6;
    color: black;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 50px;

}

table > thead > tr > th
{
    background-color: red;
    color: #ffffff;
}

td,th{
    border: 1px solid red;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
}

caption {
    font-size: 150%;
    color: #ffffff;
    margin-bottom: 10px;
}

#footer img{
    width: 5%;
    float: right;
    position: relative;
    bottom: 78px;
    right:10px;
    margin: 5px;
}

#footer{
    background-color: black;
    width:60.5%;
    position:relative;
    margin: 0 auto;
    border-top: 2px solid yellow;
    padding-bottom: 1px;
    text-align: center;
}

#footer p {
    text-align: center;
}